

  <main>
    <div class="col-auto">
      {{{body}}}
    </div>
  </main>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>

  {{/if}}

</body>

</html>